<?xml version="1.0"?>
<config>
    <modules>
        <C4B_Freeproduct>
            <version>0.1.0</version>
        </C4B_Freeproduct>
    </modules>
    <global>
        <models>
            <freeproduct>
                <class>C4B_Freeproduct_Model</class>
            </freeproduct>         
        </models>     
        <helpers>
            <freeproduct>
                <class>C4B_Freeproduct_Helper</class>
            </freeproduct>
        </helpers>
        <resources>
            <freeproduct_setup>
                <setup>
                    <module>C4B_Freeproduct</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </freeproduct_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <is_free_product>
                    <to_order_item>is_free_product</to_order_item>
                </is_free_product>           
            </sales_convert_quote_item>
        </fieldsets>
    </global>
    <adminhtml>
        <events>    
    		<adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <freeproduct>
                        <type>model</type>
                        <class>freeproduct/observer</class>
                        <method>adminhtmlBlockSalesruleActionsPrepareform</method>
                    </freeproduct>
                </observers>
       		</adminhtml_block_salesrule_actions_prepareform>
        </events>
	    <translate>
            <modules>
                <C4B_Freeproduct>
                    <files>
                        <default>C4B_Freeproduct.csv</default>
                    </files>
                </C4B_Freeproduct>
            </modules>
	    </translate>
    </adminhtml>
    <frontend>
    	<layout>
    		<updates>
    			<freeproduct>
    				<file>freeproduct.xml</file>
    			</freeproduct>
    		</updates>
    	</layout>
        <events>
            <salesrule_validator_process>
                <observers>
                    <freeproduct>
                        <type>model</type>
                        <class>freeproduct/observer</class>
                        <method>salesruleValidatorProcess</method>
                    </freeproduct>
                </observers>
            </salesrule_validator_process>
            <sales_quote_collect_totals_before>
                <observers>
                    <freeproduct>
                        <type>model</type>
                        <class>freeproduct/observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </freeproduct>
                </observers>
            </sales_quote_collect_totals_before>
        </events>
    </frontend>
</config>
